/*________________________________________________________________[ GENERAL STYLING ]________________________________________________________________*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  --primary-color: rgba(13,110,139,.75);
  --overlay-color: rgba(24,39,51,.85);
  --meun-speed: .75s;
}
#nav-bar{
  background-color:rgba(44, 65, 110, .95);
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  max-height: 2rem;
}
#nav-bar-ul{
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
}
#nav-bar-li{
  display: inline-block;
  z-index: 1;
  justify-content: space-between;
  border: 0px;
}
header{
  width: 100vw;
  height: 4.5vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
#push-content{
  height: 10vh;
  visibility: hidden;
}
#header-title{
  top: 0;
  left: 0;
  border-radius: 0;
  height: 100%;
  width: 100%;
  background-color:rgba(44, 65, 110, .95);
  align-items: center;
  justify-content: center;
}

.mainbodydiv{
    min-height: 90vh;
    min-width: 90vw;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
}
html {
  background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
  background-size: cover;
}

.mainbodydiv:before {
  content: '';
  background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: stretch;
  z-index: -1;
}


.img{
  max-width: 100%;
  object-fit: contain;
}
.scnm-logo
{
  width: 100%;
  margin: auto;

}
.ulsidebar
{
  list-style-type: none;
  width: 100%;
  height: 100%;
  line-height: 40px;
  background-color: rgba(46, 101, 70, .6);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  color: white;
}
.lisidebar
{
  display: block;
  width: 100%;
  background-color: var(--overlay-color);
}
h1 {
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.7);
  background-color:rgba(44, 65, 110, 1); 
  box-shadow: 1px 2px rgba(255, 255, 255, 0.6),
              3x 4px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 247, 194, 0.5);
  text-align: center;
  border-radius: 50px;

}
h2 {
  color: rgba(44, 65, 110, 1);
  text-shadow: 0px 0px 6px rgba(44, 65, 110,.25);

  background-color: rgba(160, 209, 219, 0.8); 
  box-shadow: 0px 1px rgba(46, 101, 70, .6),
              1px 2px rgba(46, 101, 70, .3),
              2px 3px rgba(46, 101, 70, .2),
              3px 4px rgba(46, 101, 70, .1);
  border: 1px solid rgba(44, 65, 110, 1);
  text-align: center;
  border-radius: 50px;
  margin-bottom: 1.5%;
}
h3{
  color: rgba(44, 65, 110, 1);
  text-shadow: 0px 4px 6px rgba(44, 65, 110,.25);
  background-color: rgba(160, 209, 219, 0.8); 
  box-shadow: 0px 1px rgba(46, 101, 70, .6),
              1px 2px rgba(46, 101, 70, .3),
              2px 3px rgba(46, 101, 70, .2),
              3px 4px rgba(46, 101, 70, .1);
  border: 1px solid rgba(44, 65, 110, 1);
  border-radius: 50px;
  margin-bottom: 1.5%;
}
th{
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1.5%;
}
ul,ol
{
  list-style-type: none;
}

ul li a
{
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;
  color: azure;
  padding: .25rem;
}

ul li a:hover
{
  box-sizing: border-box;
  border: 1px solid rgba(0, 247, 194, 1);
  padding: .25rem;
  border-radius: 5px;
  background-color: rgba(0, 247, 194, 0.5);
  box-shadow: 0 0 10px#ccc; 
  transform: scaleY(1.1);
  transition: all ease 500ms;
  color: #fff;
  z-index: -1;
}

input, select, option{
  display: inline-block;
  background-color: #fff;
  border: 1px solid rgba(44, 65, 110,.25);
  border-radius: 5px;
  color:rgba(44, 65, 110, 1);
  font-size: 1rem;
  min-width: 8rem;
  max-height: 4rem;
}
input:hover,select:hover, option:hover{
  background-color: var(--primary-color);
  opacity: 1;
  color: #fff;
}
input:hover::-webkit-input-placeholder
{
    color: #fff;
}
input[type="submit"]{
  box-sizing: border-box;
  width: 8rem;
  height: 2rem;
  margin: 1rem;
}
input[type="checkbox"]{
  justify-content: center;
  align-items: center;
}
td{
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.sidebardiv
{
  padding: 0%;
  object-fit: contain;
  width: 20%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  flex-direction: row;
}
/* .mainbodydiv
{
  position: relative;
  float: right;
  width: 100%;
  border: 1px solid rgba(44, 65, 110, 1);
  justify-content: space-between;
} */
table
{
  box-sizing: border-box;
  margin: 0;
  width: auto;
  height: auto;
  justify-content: space-around;
}
form
{
  width: fit-content;
  height: fit-content;
  margin: auto;
}
/*________________________________________________________________[ Accordion Styling ]________________________________________________________________*/
.accordion {
  background-color:rgba(0, 247, 194, .5);
  cursor: pointer;
  padding: .25%;
  width: 100%;
  border: 1px solid rgba(44, 65, 110, 1);
  text-align: Center;
  outline: none;
  font-size: 15px;
  transition: width .6s ease;;
}

.active, .accordion:hover, .panel {
  background-color:  rgba(0, 247, 194, 1);
  box-shadow: 0 0 12px rgba(44, 65, 110, 1) inset;
  transform: scale(.99);
  margin:.25%;
  
}

.panel {
  padding: 0 0x;
  display: none;
  background-color: white;
  overflow: hidden;
}

/*________________________________________________________________[ Accordion Styling ]________________________________________________________________*/

/*________________________________________________________________[ GENERAL STYLING ]________________________________________________________________*/

/*________________________________________________________________[ DEMOGRAPHICS SECTION ]________________________________________________________________*/
.grid-container-demographics
{
  display: flex;
  flex: 1;
  width: 100vw;
  justify-content: center;
  margin: auto;
}
.demographics-form{
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(44, 65, 110, 1);
  border-radius: 12px;
  margin: 3%;
}
#patient-address-title, #patient-demographics-title{
  margin-bottom: 1rem;
}

.demographics-form:hover{
  box-shadow: 0 4px 12px rgba(44, 65, 110, 1) inset;
}
.demographics-table
{
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 1%;
  
}
.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  /* border: 1px solid rgba(44, 65, 110, 1);
  border-radius: 12px; */
}
.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
label {
  margin-bottom: 10px;
  display: block;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #fff;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

input[type=text] ,select, option{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}


label {
  color: rgb(24, 10, 102);
  font-weight: bold;
  display: block;
  float: left;
  }
  label:after { content: ": " }
/*________________________________________________________________[ DEMOGRAPHICS SECTION ]________________________________________________________________*/

/*________________________________________________________________[ ANTHROPOMETRICS SECTION  ]________________________________________________________________*/

.Anthropometrics-container,.social-history-container
{
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px rgba(46, 101, 70, .6),
              1px 2px rgba(46, 101, 70, .3),
              2px 3px rgba(46, 101, 70, .2),
              3px 4px rgba(46, 101, 70, .1);
  border: 1px solid rgba(44, 65, 110, 1);
  border-radius: 10px;
  padding: 0%;
  font-size: medium;
  text-align: center;
}
.Anthropometrics-item,.grid-item-patient-information
{
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px rgba(46, 101, 70, .6),
              1px 2px rgba(46, 101, 70, .3),
              2px 3px rgba(46, 101, 70, .2),
              3px 4px rgba(46, 101, 70, .1);
  border: 1px solid rgba(44, 65, 110, 1);
  padding: 0%;
  font-size: medium;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 14px;
  color: rgba(44, 65, 110, 1);
}
.Anthropometrics-item:hover,.grid-item-patient-information:hover{
  box-shadow: 0 4px 12px rgba(44, 65, 110, 1) inset;
}
.Anthropometrics
{
  text-align: left;
  display: inline-table;
}

/*________________________________________________________________[ ANTHROPOMETRICS SECTION  ]________________________________________________________________*/


/*________________________________________________________________[ MEDICAL HISTORY SECTION ]________________________________________________________________*/

.grid-container-medical-history
{
  display: inline-grid;
  grid-template-columns: auto auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px rgba(46, 101, 70, .6),
              1px 2px rgba(46, 101, 70, .3),
              2px 3px rgba(46, 101, 70, .2),
              3px 4px rgba(46, 101, 70, .1);
  border: 1% solid rgba(44, 65, 110, 1);
  border-radius: 12px;
  padding: 0%;
  font-size: medium;
  text-align: center;
}
.grid-item-medical-history
{
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px rgba(46, 101, 70, .6),
              1px 2px rgba(46, 101, 70, .3),
              2px 3px rgba(46, 101, 70, .2),
              3px 4px rgba(46, 101, 70, .1);
  border: 1px solid rgba(44, 65, 110, 1);
  border-radius: 12px;
  color: rgba(44, 65, 110, 1);
  padding:0%;
  font-size: medium;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 50vh;
  overflow: auto;
}
.medication, .past-medical-care, .substance-use, .family-history-container, .physical-activity-container{
  display: block;
  max-height: 50vh;
  overflow: auto;
  justify-content: center;
  align-items: center;
}


.grid-item-patient-information-logo
{
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px rgba(46, 101, 70, .6),
              1px 2px rgba(46, 101, 70, .3),
              2px 3px rgba(46, 101, 70, .2),
              3px 4px rgba(46, 101, 70, .1);
  border: 1px solid rgba(44, 65, 110, 1);
  padding:0%;
  align-content: center;
  text-align: center;
  margin: auto;
  
}
#medical-condition
{
  display: flex;
  overflow: auto;
}
.medical-history-table ,th, #medical-condition-table-data, #medical-condition-table-row,#family-history-td
{
  box-sizing: border-box;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(44, 65, 110, 1);
  border-radius: .5rem;
  padding:0%;
  margin: 1%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.substance-use-table, .past-medical-care-table,.family-health-history-table, .medication-table,.physical-activity-table,.physical-activity-rest-table{
  border: 1px solid rgba(44, 65, 110, 1);
  border-radius: 12px;
}
.medical-history-table> label
{
  text-align: left;
}
.family-health-history-table:hover,.medical-history-table:hover,.substance-use-table:hover, .past-medical-care-table:hover, .medication-table:hover,.physical-activity-table:hover,.physical-activity-rest-table:hover{
  box-shadow: 0 9px 18px rgba(0,0,0, .5) inset;
}


#condition-category, #condition-category-yes, #condition-category-date ,#condition-name, #condition-blank
{
  color: rgba(44, 65, 110, 1);
  text-shadow: 0px 4px 3px rgba(44, 65, 110,.25),
               0px 8px 13px rgba(44, 65, 110,.5),
               0px 18px 23px rgba(44, 65, 110,1);
  background-color: rgba(160, 209, 219, 0.8); 
  box-shadow: 0px 1px rgba(46, 101, 70, .6),
              1px 2px rgba(46, 101, 70, .3),
              2px 3px rgba(46, 101, 70, .2),
              3px 4px rgba(46, 101, 70, .1);
  border: 1px solid rgba(44, 65, 110, 1);
  text-align: center;
}
/*________________________________________________________________[ MEDICAL HISTORY SECTION ]________________________________________________________________*/




/*________________________________________________________________[ SOCIAL HISTORY SECTION ]________________________________________________________________*/
.social-history-container
{
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px rgba(46, 101, 70, .6),
              1px 2px rgba(46, 101, 70, .3),
              2px 3px rgba(46, 101, 70, .2),
              3px 4px rgba(46, 101, 70, .1);
  border: 1px solid rgba(44, 65, 110, 1);
  padding: 0%;
  font-size: medium;
  text-align: center;
  align-items: center;
}
.social-history-item
{
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px rgba(46, 101, 70, .6),
              1px 2px rgba(46, 101, 70, .3),
              2px 3px rgba(46, 101, 70, .2),
              3px 4px rgba(46, 101, 70, .1);
  border: 1px solid rgba(44, 65, 110, 1);
  padding: 0%;
  font-size: medium;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: .5%;
  border-radius: 12px;
}
.social-history-item:hover{
  box-shadow: 0 4px 12px rgba(44, 65, 110, 1) inset;
}
.social-history-table{
  color: rgba(44, 65, 110, 1);
  border-radius: 12px;
  
}
/*________________________________________________________________[ SOCIAL HISTORY SECTION ]________________________________________________________________*/